body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #2299aa !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #2299aa !important;
  border-color: #2299aa !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #2299aa !important;
  border-color: #2299aa !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2299aa;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #145862 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2299aa !important;
  border-color: #2299aa !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2299aa;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #145862 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2299aa !important;
  border-color: #2299aa !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #2299aa !important;
}
.text-secondary {
  color: #2299aa !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #114c55 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #114c55 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #2299aa;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2299aa;
  border-color: #2299aa;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #2299aa;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6ad2e1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #2299aa !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #2299aa;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2299aa;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #2299aa;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #2299aa;
  border-bottom-color: #2299aa;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #2299aa !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #2299aa !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%232299aa' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sTWLbsbJVd .navbar-dropdown {
  position: relative !important;
}
.cid-sTWLbsbJVd .navbar-dropdown {
  position: absolute !important;
}
.cid-sTWLbsbJVd .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTWLbsbJVd .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sTWLbsbJVd .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sTWLbsbJVd .dropdown-item:hover,
.cid-sTWLbsbJVd .dropdown-item:focus {
  background: #2299aa !important;
  color: white !important;
}
.cid-sTWLbsbJVd .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sTWLbsbJVd .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sTWLbsbJVd .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sTWLbsbJVd .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sTWLbsbJVd .nav-link {
  position: relative;
}
.cid-sTWLbsbJVd .container {
  display: flex;
  margin: auto;
}
.cid-sTWLbsbJVd .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sTWLbsbJVd .dropdown-menu,
.cid-sTWLbsbJVd .navbar.opened {
  background: #5f6366 !important;
}
.cid-sTWLbsbJVd .nav-item:focus,
.cid-sTWLbsbJVd .nav-link:focus {
  outline: none;
}
.cid-sTWLbsbJVd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sTWLbsbJVd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sTWLbsbJVd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sTWLbsbJVd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sTWLbsbJVd .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sTWLbsbJVd .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sTWLbsbJVd .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(95, 99, 102, 0.6);
}
.cid-sTWLbsbJVd .navbar.opened {
  transition: all 0.3s;
}
.cid-sTWLbsbJVd .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sTWLbsbJVd .navbar .navbar-logo img {
  width: auto;
}
.cid-sTWLbsbJVd .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sTWLbsbJVd .navbar.collapsed {
  justify-content: center;
}
.cid-sTWLbsbJVd .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sTWLbsbJVd .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sTWLbsbJVd .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sTWLbsbJVd .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sTWLbsbJVd .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sTWLbsbJVd .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sTWLbsbJVd .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sTWLbsbJVd .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sTWLbsbJVd .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sTWLbsbJVd .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sTWLbsbJVd .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sTWLbsbJVd .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sTWLbsbJVd .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sTWLbsbJVd .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sTWLbsbJVd .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sTWLbsbJVd .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sTWLbsbJVd .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sTWLbsbJVd .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sTWLbsbJVd .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sTWLbsbJVd .navbar.navbar-short {
  min-height: 60px;
}
.cid-sTWLbsbJVd .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sTWLbsbJVd .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sTWLbsbJVd .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sTWLbsbJVd .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sTWLbsbJVd .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sTWLbsbJVd .dropdown-item.active,
.cid-sTWLbsbJVd .dropdown-item:active {
  background-color: transparent;
}
.cid-sTWLbsbJVd .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sTWLbsbJVd .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sTWLbsbJVd .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sTWLbsbJVd .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #5f6366;
}
.cid-sTWLbsbJVd .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sTWLbsbJVd .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sTWLbsbJVd ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sTWLbsbJVd .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sTWLbsbJVd button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sTWLbsbJVd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sTWLbsbJVd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sTWLbsbJVd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTWLbsbJVd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sTWLbsbJVd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sTWLbsbJVd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTWLbsbJVd nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sTWLbsbJVd nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sTWLbsbJVd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sTWLbsbJVd .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sTWLbsbJVd a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sTWLbsbJVd .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sTWLbsbJVd .navbar {
    height: 70px;
  }
  .cid-sTWLbsbJVd .navbar.opened {
    height: auto;
  }
  .cid-sTWLbsbJVd .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sTWLbsy8EY {
  background-image: url("../../../assets/images/img-1650-2000x2667.jpeg");
}
.cid-sTWLbsy8EY .mbr-section-title {
  text-align: center;
  color: #353535;
}
.cid-sTWLbsy8EY .mbr-text,
.cid-sTWLbsy8EY .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-sTWLbsMbZu {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fafafa;
}
.cid-sTWLbsMbZu .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-sTWLbsMbZu .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sTWLbsMbZu .mbr-iconfont {
  font-size: 4rem;
  color: #4d6d9a;
  padding-right: 1.5rem;
}
.cid-sV4htZBUiw {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #bbbbbb;
}
.cid-sV4htZBUiw .row {
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .cid-sV4htZBUiw .row {
    flex-direction: column-reverse;
  }
  .cid-sV4htZBUiw .mbr-figure {
    margin-bottom: 1.5rem;
  }
}
.cid-sV4htZBUiw .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-sV4htZBUiw .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sV4htZBUiw .media-content,
.cid-sV4htZBUiw .mbr-figure {
  align-self: center;
}
.cid-sV4htZBUiw .mbr-figure iframe {
  width: 100%;
}
.cid-sTWLbt8FTB {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sTWLbt8FTB .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sTWLbt8FTB .card {
    margin-bottom: 2rem!important;
  }
  .cid-sTWLbt8FTB .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sTWLbt8FTB .link-wrap {
    align-items: center;
  }
}
.cid-sTWLbt8FTB .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTWLbtp8i7 {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-sTWLbtp8i7 img,
.cid-sTWLbtp8i7 .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-sTWLbtp8i7 .item:focus,
.cid-sTWLbtp8i7 span:focus {
  outline: none;
}
.cid-sTWLbtp8i7 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sTWLbtp8i7 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sTWLbtp8i7 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sTWLbtp8i7 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-sTWLbtp8i7 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sTWLbtp8i7 .mbr-section-title {
  color: #232323;
}
.cid-sTWLbtp8i7 .mbr-text,
.cid-sTWLbtp8i7 .mbr-section-btn {
  text-align: left;
  color: #5f6366;
}
.cid-sTWLbtp8i7 .item-title {
  text-align: left;
}
.cid-sTWLbtp8i7 .item-subtitle {
  text-align: left;
}
.cid-sTWLbtKqq9 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sTWLbtKqq9 .oldcost {
  text-decoration: line-through;
  color: #353535;
  text-align: left;
}
.cid-sTWLbtKqq9 .currentcost {
  color: #232323;
  text-align: left;
}
.cid-sTWLbtKqq9 .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-sTWLbtKqq9 .text-box {
    padding: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sTWLbtKqq9 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTWLbtKqq9 .text-box {
    padding: 1rem;
  }
}
.cid-sTWLbtKqq9 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-sTWLbtKqq9 P {
  color: #000000;
  text-align: left;
}
.cid-sTWLbtXufM {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-sTWLbtXufM .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-sTWLbtXufM .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-sTWLbtXufM .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-sTWLbtXufM .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-sTWLbtXufM .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-sTWLbtXufM .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-sTWLbtXufM .carousel-control,
.cid-sTWLbtXufM .close {
  background: #1b1b1b;
}
.cid-sTWLbtXufM .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sTWLbtXufM .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sTWLbtXufM .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sTWLbtXufM .carousel-control-next span {
  margin-left: 5px;
}
.cid-sTWLbtXufM .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sTWLbtXufM .close::before {
  content: '\e91a';
}
.cid-sTWLbtXufM .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sTWLbtXufM .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sTWLbtXufM .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sTWLbtXufM .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sTWLbtXufM .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sTWLbtXufM .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-sTWLbtXufM .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sTWLbtXufM .carousel-indicators li.active,
.cid-sTWLbtXufM .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sTWLbtXufM .carousel-indicators li::after,
.cid-sTWLbtXufM .carousel-indicators li::before {
  content: none;
}
.cid-sTWLbtXufM .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sTWLbtXufM .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-sTWLbtXufM .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sTWLbtXufM .carousel-indicators {
    display: none;
  }
}
.cid-sTWLbtXufM .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sTWLbtXufM .carousel-inner > .active {
  display: block;
}
.cid-sTWLbtXufM .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sTWLbtXufM .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sTWLbtXufM .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sTWLbtXufM .carousel-control,
  .cid-sTWLbtXufM .carousel-indicators,
  .cid-sTWLbtXufM .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-sTWLbtXufM .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-sTWLbtXufM .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-sTWLbtXufM .carousel-indicators .active,
.cid-sTWLbtXufM .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-sTWLbtXufM .carousel-indicators .active {
  background: #fff;
}
.cid-sTWLbtXufM .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-sTWLbtXufM .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sTWLbtXufM .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sTWLbtXufM .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-sTWLbtXufM .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sTWLbtXufM .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-sTWLbtXufM .carousel {
  width: 100%;
}
.cid-sTWLbtXufM .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sTWLbtXufM .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sTWLbtXufM .modal.fade .modal-dialog,
.cid-sTWLbtXufM .modal.in .modal-dialog {
  transform: none;
}
.cid-sTWLbtXufM .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sTWLbtXufM H6 {
  text-align: center;
}
.cid-sTWLbuyp3W {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #ffffff;
}
.cid-sTWLbuyp3W .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sTWLbuyp3W .team-card:hover {
  transform: translateY(-10px);
}
.cid-sTWLbuyp3W .card-wrap {
  background: #fafafa;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-sTWLbuyp3W .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-sTWLbuyp3W .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-sTWLbuyp3W .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sTWLbuyp3W .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-sTWLbuyp3W .social-row {
  text-align: center;
}
.cid-sTWLbuyp3W .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sTWLbuyp3W .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-sTWLbuyp3W .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sTWLbuyp3W .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sTWLbuyp3W .card-text,
.cid-sTWLbuyp3W .mbr-section-btn,
.cid-sTWLbuyp3W .social-row {
  text-align: center;
}
.cid-sUowQCsg5h {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sUowQCsg5h ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-sUowQCsg5h li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-sUowQCsg5h ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-sV4e5kwuis {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #bed3f9;
}
.cid-sV4e5kwuis .mbr-section-title,
.cid-sV4e5kwuis .mbr-text,
.cid-sV4e5kwuis .mbr-section-btn {
  text-align: center;
}
.cid-sV4e5kwuis .video-wrapper {
  margin: auto;
}
.cid-sV4e5kwuis .video-wrapper iframe {
  width: 100%;
}
.cid-sTWLbwqo8g {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sTWLbwqo8g .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sTWLbwqo8g form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sTWLbwqo8g form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-sTWLbwqo8g form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sTWLbwqo8g textarea {
  min-height: 10rem;
}
.cid-sTWLbx57LE {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-sTWLbx57LE .google-map {
  height: 30rem;
  position: relative;
}
.cid-sTWLbx57LE .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sTWLbx57LE .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sTWLbx57LE .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sTWLbx57LE .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sTWLbx57LE .mbr-section-title {
  text-align: center;
}
.cid-sTWLbx57LE .mbr-section-subtitle {
  text-align: left;
}
.cid-sTWLbwFTPn {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #fafafa;
}
.cid-sTWLbwFTPn .media-container-row {
  justify-content: space-between;
  justify-content: center;
}
.cid-sTWLbwFTPn .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-sTWLbwFTPn .text-content {
    max-width: none;
  }
}
.cid-sTWLbwFTPn .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #4d6d9a;
  border: 2px solid #4d6d9a;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-sTWLbwFTPn .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-sTWLbwFTPn .mbr-iconfont-social:hover {
  background-color: #4d6d9a;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-sTWLbwFTPn .icons {
    justify-content: center !important;
  }
  .cid-sTWLbwFTPn .text-content * {
    text-align: center;
  }
}
.cid-sTWLbwFTPn .mbr-section-title {
  text-align: center;
}
.cid-sTWLbxlvxS {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
  overflow: hidden;
}
.cid-tCPHOpxIfF {
  background-image: url("../../../assets/images/img-5522b-2000x2706.jpg");
}
.cid-tCPHOpxIfF .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-tCPHOpxIfF .mbr-text,
.cid-tCPHOpxIfF .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-tCU7skS8Yo {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-tCU7skS8Yo .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-tCU7skS8Yo .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tCU7skS8Yo .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
  padding-right: 1.5rem;
}
.cid-tCU7skS8Yo .card-title {
  text-align: center;
}
.cid-tCU7skS8Yo .card-text {
  text-align: center;
}
.cid-tCUTBkw1bj {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #91aec2;
}
@media (max-width: 991px) {
  .cid-tCUTBkw1bj .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCUTBkw1bj .row {
  flex-direction: row-reverse;
}
.cid-tCUTBkw1bj img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCUTBkw1bj .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCUTBkw1bj .mbr-section-title {
  color: #353535;
}
.cid-tCUTBkw1bj .mbr-text {
  color: #000000;
}
.cid-tCUbivR1zj {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-tCUbivR1zj .video-wrapper iframe {
  width: 100%;
}
.cid-tCUbivR1zj .mbr-section-title,
.cid-tCUbivR1zj .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tCUbivR1zj .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCUbivR1zj .mbr-section-title {
  text-align: center;
}
.cid-tCUbivR1zj .mbr-section-subtitle {
  color: #353535;
  text-align: right;
}
.cid-tCUbivR1zj .mbr-text {
  text-align: right;
  color: #353535;
}
.cid-tCUfYUF3c9 {
  background-color: #91aec2;
}
@media (max-width: 991px) {
  .cid-tCUfYUF3c9 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCUfYUF3c9 .row {
  flex-direction: row-reverse;
}
.cid-tCUfYUF3c9 img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCUfYUF3c9 .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCUfYUF3c9 .mbr-section-title {
  color: #353535;
}
.cid-tCUfYUF3c9 .mbr-text {
  color: #000000;
}
.cid-tCUnpC5bUn {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #91aec2;
}
@media (max-width: 991px) {
  .cid-tCUnpC5bUn .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tCUnpC5bUn .row {
  flex-direction: row-reverse;
}
.cid-tCUnpC5bUn img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCUnpC5bUn .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCUnpC5bUn .mbr-section-title {
  color: #353535;
}
.cid-tCUnpC5bUn .mbr-text {
  color: #000000;
}
.cid-tCWdGqpmCL {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-tCUWuIM9ra {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #91aec2;
}
.cid-tCUWuIM9ra img,
.cid-tCUWuIM9ra .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tCUWuIM9ra .item:focus,
.cid-tCUWuIM9ra span:focus {
  outline: none;
}
.cid-tCUWuIM9ra .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tCUWuIM9ra .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tCUWuIM9ra .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCUWuIM9ra .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tCUWuIM9ra .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tCUWuIM9ra .mbr-section-title {
  color: #353535;
}
.cid-tCUWuIM9ra .mbr-text,
.cid-tCUWuIM9ra .mbr-section-btn {
  text-align: center;
  color: #353535;
}
.cid-tCUWuIM9ra .item-title {
  text-align: center;
  color: #353535;
}
.cid-tCUWuIM9ra .item-subtitle {
  text-align: left;
}
.cid-tCUWuIM9ra .item-title DIV {
  text-align: center;
}
.cid-tCU6V2Qx4i {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #91aec2;
}
.cid-tCU6V2Qx4i img,
.cid-tCU6V2Qx4i .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tCU6V2Qx4i .item:focus,
.cid-tCU6V2Qx4i span:focus {
  outline: none;
}
.cid-tCU6V2Qx4i .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tCU6V2Qx4i .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tCU6V2Qx4i .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCU6V2Qx4i .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tCU6V2Qx4i .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tCU6V2Qx4i .mbr-section-title {
  color: #353535;
}
.cid-tCU6V2Qx4i .mbr-text,
.cid-tCU6V2Qx4i .mbr-section-btn {
  text-align: left;
  color: #353535;
}
.cid-tCU6V2Qx4i .item-title {
  text-align: left;
  color: #353535;
}
.cid-tCU6V2Qx4i .item-subtitle {
  text-align: left;
}
.cid-tCUtpaSVkd {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tCUtpaSVkd img,
.cid-tCUtpaSVkd .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tCUtpaSVkd .item:focus,
.cid-tCUtpaSVkd span:focus {
  outline: none;
}
.cid-tCUtpaSVkd .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-tCUtpaSVkd .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tCUtpaSVkd .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCUtpaSVkd .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tCUtpaSVkd .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tCUtpaSVkd .mbr-section-title {
  color: #353535;
}
.cid-tCUvHiTUoT {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tCUvHiTUoT img,
.cid-tCUvHiTUoT .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tCUvHiTUoT .item:focus,
.cid-tCUvHiTUoT span:focus {
  outline: none;
}
.cid-tCUvHiTUoT .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-tCUvHiTUoT .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tCUvHiTUoT .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCUvHiTUoT .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tCUvHiTUoT .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tCUvHiTUoT .mbr-section-title {
  color: #232323;
}
.cid-tCUvJfAye9 {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-tCUvJfAye9 img,
.cid-tCUvJfAye9 .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tCUvJfAye9 .item:focus,
.cid-tCUvJfAye9 span:focus {
  outline: none;
}
.cid-tCUvJfAye9 .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-tCUvJfAye9 .item-wrapper {
  position: unset;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tCUvJfAye9 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tCUvJfAye9 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tCUvJfAye9 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tCUvJfAye9 .mbr-section-title {
  color: #232323;
}
.cid-tCUy0UsX1v {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #91aec2;
}
.cid-tCUy0UsX1v ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tCUy0UsX1v li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tCUy0UsX1v ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #000000;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tCUy0UsX1v H3 {
  color: #353535;
}
.cid-tCUy0UsX1v .list {
  color: #000000;
}
.cid-tCWm6AMtTx {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-tCWm6AMtTx .video-wrapper iframe {
  width: 100%;
}
.cid-tCWm6AMtTx .mbr-section-title,
.cid-tCWm6AMtTx .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-tCWm6AMtTx .text-wrapper {
    padding: 2rem;
  }
}
.cid-tCWm6AMtTx .mbr-section-title {
  text-align: center;
}
.cid-tCWm6AMtTx .mbr-section-subtitle {
  color: #353535;
  text-align: right;
}
.cid-tCWm6AMtTx .mbr-text {
  text-align: right;
  color: #353535;
}
.cid-tCUZmtkzpi {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fafafa;
}
.cid-tCUZmtkzpi .media-container-row {
  justify-content: space-between;
}
.cid-tCUZmtkzpi .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-tCUZmtkzpi .text-content {
    max-width: none;
  }
}
.cid-tCUZmtkzpi .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #4d6d9a;
  border: 2px solid #4d6d9a;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-tCUZmtkzpi .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-tCUZmtkzpi .mbr-iconfont-social:hover {
  background-color: #4d6d9a;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-tCUZmtkzpi .icons {
    justify-content: center !important;
  }
  .cid-tCUZmtkzpi .text-content * {
    text-align: center;
  }
}
.cid-tCUZmtkzpi .mbr-section-title {
  text-align: center;
  color: #353535;
}
.cid-tCUIPHkBji {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #91aec2;
}
.cid-tCUIPHkBji .google-map {
  height: 30rem;
  position: relative;
}
.cid-tCUIPHkBji .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tCUIPHkBji .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tCUIPHkBji .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tCUIPHkBji .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
